@use 'sass:map';
@use 'breakpoints' as *;

// --- Mediaqueries with maped Breakpoints ---
/*
 To use: 
 @import mq(lg) {...}
*/
@mixin mq($size) {
  $size: map-get(
    $map: $breakpoints,
    $key: $size,
  );
  @media (min-width: $size) {
    @content;
  }
}
